In [1]:
#importing necessary libraries
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(style='dark')
import warnings 
warnings.filterwarnings('ignore')

In [2]:
#Loading in the dataset 
df = pd.read_csv('categorized_ecommerce.csv', index_col=0, header=0, parse_dates=True, infer_datetime_format=True)

In [3]:
# Grouping the Description column by the Total column in descending order
product_sales = df.groupby('Description')['Total'].sum().reset_index()

In [4]:
# Storing the data in descending order to have the best products at the top
top_selling_products = product_sales.sort_values(by='Total', ascending=False)

In [5]:
print('Top selling products:')
print(top_selling_products.head())

Top selling products:
                             Description     Total
1062                      DOTCOM POSTAGE  206249.9
2834            REGENCY CAKESTAND 3 TIER  174479.5
2369         PAPER CRAFT , LITTLE BIRDIE  168469.6
3816  WHITE HANGING HEART T-LIGHT HOLDER  106314.8
2395                       PARTY BUNTING   99510.0

In [6]:
#Creating a new column in the product_sales dataframe to contain the percent change
product_sales['Percent_change'] = product_sales['Total'].pct_change()

In [7]:
#Storing the products with significant increases and decreases in two separate dataframes
significant_increase = product_sales[product_sales['Percent_change'] > 0.2]
significant_decrease = product_sales[product_sales['Percent_change'] < 0.2]

In [8]:
print('Products with significant increase in sales:')
print(significant_increase.sort_values(by='Percent_change', ascending=False).head(10))

Products with significant increase in sales:
                             Description    Total  Percent_change
1546     GREEN REGENCY TEACUP AND SAUCER  22836.5    10379.227273
110          60 TEATIME FAIRY CAKE CASES   9171.1     7641.583333
3123          SET OF 3 REGENCY CAKE TINS  31164.9     5770.277778
1398  GARDENERS KNEELING PAD CUP OF TEA   11805.6     3471.235294
2722                  RABBIT NIGHT LIGHT  66949.0     2823.852321
3044      SET 12 COLOURING PENCILS DOILY   1637.8     2728.666667
3211  SET/10 BLUE POLKADOT PARTY CANDLES   4826.8     2412.400000
2161  MULTI COLOUR SILVER T-LIGHT HOLDER   8753.5     2187.375000
3260      SET/6 PINK  BUTTERFLY T-LIGHTS   4011.7     1909.333333
1385    FUNKY WASHING UP GLOVES ASSORTED   2108.3     1755.916667

In [9]:
print('Products with significant decrease in sales:')
print(significant_decrease.sort_values(by='Percent_change', ascending=False).head(10))

Products with significant decrease in sales:
                            Description   Total  Percent_change
3032   SET 10 CARDS XMAS GRAPHIC  17218    17.4        0.200000
528               BOOM BOX SPEAKER BOYS  1296.6        0.198115
3369          SMALL HEART FLOWERS HOOK   1561.0        0.196994
2740          RECYCLED ACAPULCO MAT RED  3895.1        0.194706
1766              JAM JAR WITH PINK LID  3294.0        0.193176
2961   S/12 VANILLA  BOTANICAL T-LIGHTS   662.5        0.193049
252   ASSORTED TUTTI FRUTTI SMALL PURSE   992.3        0.191952
1600       HANGING ENGRAVED METAL HEART  1250.4        0.190290
1379       FULL ENGLISH BREAKFAST PLATE  6931.9        0.187539
1601      HANGING FAIRY CAKE DECORATION  1483.8        0.186660

In [25]:
#Storing the significant_increase as a pandas dataframe 
significant_increase = pd.DataFrame(significant_increase.sort_values(by='Percent_change', ascending=False))

In [24]:
#Storing the significant_decrease as a pandas dataframe 
significant_decrease = pd.DataFrame(significant_decrease.sort_values(by='Percent_change', ascending=False))

In [23]:
#Viewing the first 5 rows
significant_decrease.head()

                           Description   Total  Percent_change
3032  SET 10 CARDS XMAS GRAPHIC  17218    17.4        0.200000
528              BOOM BOX SPEAKER BOYS  1296.6        0.198115
3369         SMALL HEART FLOWERS HOOK   1561.0        0.196994
2740         RECYCLED ACAPULCO MAT RED  3895.1        0.194706
1766             JAM JAR WITH PINK LID  3294.0        0.193176

In [22]:
# Viewing the first 5 rows
significant_increase.head()

                             Description    Total  Percent_change
1546     GREEN REGENCY TEACUP AND SAUCER  22836.5    10379.227273
110          60 TEATIME FAIRY CAKE CASES   9171.1     7641.583333
3123          SET OF 3 REGENCY CAKE TINS  31164.9     5770.277778
1398  GARDENERS KNEELING PAD CUP OF TEA   11805.6     3471.235294
2722                  RABBIT NIGHT LIGHT  66949.0     2823.852321